ADMIN_RELAY_PASSWORD=zp3wlGP0uft-KRjZDtf6Er6Fn6U3RaSPgBzWK_L3Vtg
ANTHROPIC_API_KEY=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
APIFY_API_TOKEN=apify_api_M7opHZ7Z5bYptoinfhfkUrxeMxuHI00eZiUM
ATTIO_API_KEY=7eae20b385cb5c2557a67f3f036eb49977d5d6b2eae894a58841d4a4a07e33aa
BASE_URL=https://dev.forgeintelligence.ai
BITLY_ACCESS_TOKEN=02e9276e2ceb3db25a945ce41ee518f088c851fb
BITLY_CLIENT_ID=d3923bddb41dc4aa0350b0815d4c674ba6e19aa8
BITLY_CLIENT_SECRET=1b35028ebc30097fa24759b7b25799cbd5dde2d7
BRAIN_API_KEY=TheBoxHeBuilt
BRIGHTDATA_API_KEY=ac719337-407e-4747-8580-25995abdfbc7
BRIGHTDATA_BROWSER_AUTH=brd-customer-hl_b4994c51-zone-forge_intelligence_scraper:001jjws2uxmw
BRIGHTDATA_UNLOCKER_ZONE=forge_intelligence
CLERK_JWKS_URL=https://clerk.forgeintelligence.ai/.well-known/jwks.json
CLERK_SECRET_KEY=sk_live_oft3iVS6pUtK7T4i6WGCGTorpvExE5ZUHQADeMSYce
DATABASE_URL="postgresql://neondb_owner:npg_x2mXOgsnc4wH@ep-odd-waterfall-akyrdo6x-pooler.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
EASYCRON_API_KEY=1984dcdac8b11c392824914c3089dc2b
ELEVENLABS_API_KEY=sk_0661ca2baaec9ce4c487fc94de609cdf7af7c28de01b98b9
FAL_API_KEY=c54b4043-c9b4-41c7-adeb-056241002b50:b80974023efeff57540dfd271efed941
FAL_DRAIN_TOKEN=DK2B49GlrTGi4AdArh6yr80kxu2tDkW2MtPhCKtphBbWU1HAtqY8yEvZjs8SxyRI
FORGE_SCRAPE_SERVICE_KEY=c17218069da2bd8b867adbc4a024a3eaf13bcd79e4d769c0f09d90b88f5d246b
GEMINI_API_KEY=AQ.Ab8RN6J_5EF-5UNdRxWX8q7u24HBx8lTANVqQwWr5AnSGGDWFw
GHOST_ADMIN_API_KEY=69c9d376c141600001585232:88f84d190d9b3663adeea4de9a83082877ee0dfa7d3443afe6ab93fa5d0e6ac4
GHOST_API_URL=https://sandbox-group.ghost.io
GITHUB_TOKEN=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
GOOGLE_CLIENT_ID=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
GOOGLE_CLIENT_SECRET=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
GOOGLE_CSE_API_KEY=AIzaSyCL7eakwAxw7dzLKdvWOO5Z7lhwY5b-19s
GOOGLE_CSE_SEARCH_ENGINE_ID=1256fbce6b22e4cb8
GSC_CLIENT_ID=410491316773-i7pod9c89spbbji9u1l72v3mrouk9spo.apps.googleusercontent.com
GSC_CLIENT_SECRET=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
GSC_REDIRECT_URI=forgeintelligence.ai/auth/gsc/callback
HUBSPOT_CLIENT_ID=78a09da5-3d3f-4c4b-b00e-74310739be3e
HUBSPOT_CLIENT_SECRET=459772f8-f252-439b-9e3f-c5a3c4880546
HUBSPOT_REDIRECT_URI=https://dev.forgeintelligence.ai/auth/hubspot/callback
HUBSPOT_SECRET_TOKEN=pat-na2-de99e0c0-a353-4f33-832c-ea8e3efefa4b
JINA_API_KEY=jina_11c8a92e66584ac298114fba454bb35bqk-dBP7e8rVsffpNRjKw_QkPhm6_
LINKEDIN_CLIENT_ID=8699eb6x817rqt
LINKEDIN_CLIENT_SECRET='\"WPL_AP1.RnrQIowcVynipoMI.duHghQ==\'
LINKEDIN_ORG_REDIRECT_URI=https://dev.forgeintelligence.ai/auth/linkedin/org/callback
MISTRAL_API_KEY=s04OBRg6HT6i4ZtiZdg90GcJL5YLf0Oz
NEON_AUTH_JWKS_URL=https://ep-twilight-cherry-akul6a77.neonauth.c-3.us-west-2.aws.neon.tech/neondb/auth/.well-known/jwks.json
NEON_DATABASE_URL="postgresql://neondb_owner:npg_x2mXOgsnc4wH@ep-odd-waterfall-akyrdo6x-pooler.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
OPENAI_API_KEY=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
PAYPAL_API_KEY=EGz1RMCfNkoKHZWTtjJGjE_UIiKUO2omxwR-5FXHHVJKmbDwEWQUoe4M7tSVr-VgQiw0HbpvFsXguI1E
PAYPAL_CLIENT_ID=AV1QAbjyqG1YTRCWKXzWjZr1Ls7uNLRnk5SzoC-ajEb3rZaq5h58SCUoi9lcZgd9OCvJrM2WchL1om6l
PERPLEXITY_API_KEY=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
PIPEDREAM_CLIENT_ID=apcRoLXCvgyO9TTaoZjTml08XmPL0Ji-rhVvqrKV-mE
PIPEDREAM_CLIENT_SECRET=tFVE5_vbC0C2lDkG27hv2Zp2yl4ycU0IAnTfQFL9_Nc
PIPEDREAM_PROJECT_ENVIRONMENT=development
PIPEDREAM_PROJECT_ID=proj_24s3WVo
REMOTION_AWS_ACCESS_KEY_ID=AKIAYGDVREKBNA2EQ4NI
REMOTION_AWS_REGION=us-east-1
REMOTION_AWS_SECRET_ACCESS_KEY=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
REMOTION_LAMBDA_FUNCTION_NAME=remotion-render-4-0-474-mem3008mb-disk2048mb-240sec
REMOTION_LAMBDA_SERVE_URL=https://remotionlambda-useast1-rccmn55lmf.s3.us-east-1.amazonaws.com/sites/forge-reels/index.html
RENDER_API_KEY=rnd_NiNnDm9eTvTjfuzZK1brVt9qCskR
RENDER_OWNER_ID=tea-d6gtqoh4tr6s73bgmk1g
RESEND_API_KEY=re_bwBmsKVj_8EJGMqqxMRYzJS5619PZ7ngm
SERPAPI_KEY=1c7934e824aedadc8e08c9cde6dee69d4fc3b19a2ad4a59d6a6f65d38e532196
SESSION_SECRET=kgjerith4589utu5429tuh45htureger
STABILITYAI_API_KEY=sk-WQikk9tnAGowCkfa03o7lqXnFwG9dacc8CEP25u7Y9FtQd1E
VALUESERP_API_KEY=A9C5143FA5C041E6871F3D405C945FAF
VIDEO_SCREENS_ENABLED=1
VITE_CLERK_PUBLISHABLE_KEY=pk_live_Y2xlcmsuZm9yZ2VpbnRlbGxpZ2VuY2UuYWkk
VITE_GOD_MODE=true
VOYAGERAI_API_KEY=pa-ArcBKAcXGjCqGOY3Hb4DgQIUcjNf4b7sGG6px1U8GDo
WEBFLOW_API_TOKEN=58148c7047b303eac25a448cc00540120e5eea771abbf375b4c64cd854d4efbf
WEBFLOW_CLIENT_ID=bcf87512b0252383fe168a8c029e1fb076d51b982f96b924f3238dcd4a75765c
WEBFLOW_CLIENT_SECRET=185874449bd06b108bf70cd5677ea027c73d2e5cd6757f38d80644bb8b42388e
WEBFLOW_REDIRECT_URI=https://forgeintelligence.ai/auth/webflow/callback
X_OAUTH1ACCESS_SECRET=P0cbb6TJHCRDNcbgRwCigIitb2hTdiffyDW9g3FRRucIb
X_OAUTH1ACCESS_TOKEN=2039926580646977536-MjINMf3S2eraFMGwLaqsMbFfnuBQ77
X_OAUTH1CONSUMER_KEY=T9YJr6TbezZDd577X8B23XDYX
X_OAUTH1CONSUMER_SECRET=Eh6qrW4LB9f9IhrBlSqLAhcxJ50dEaYAvNisEOvTQmYjRprapi
X_OAUTH2CLIENT_ID=d1RNN05DVnc5dURENTVncU54S3g6MTpjaQ
X_OAUTH2CLIENT_SECRET=1bthHjLg-D38kd8XhmUBKtV9FaiJp8_hcgHWUynw1SOo3C-uha
ZERNIO_API_KEY=sk_581d307adcc112d77f667323a64c192401dc69ea879795e94a188641332c78c1
ZERNIO_PROFILE_ID=69fd588f49cde308273fd979

